<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Workout Tracker</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="wrapper">
      <header class="hero">
          <div>
            <nav class"nav">
                    <a class="link" href="/">Feed</a>
                    <a class="link" href="/dashboard">My Workouts</a>
                    {{#if loggedIn}}
                    <a class="link" id="logout">Logout</a>
                    {{!-- <a class="link" href="/logout" id="logout">Logout</a> --}}
                    {{else}}
                    <a class="link" href="/login">Login</a>
                    {{/if}}
                </nav>          
          </div>

          <h1 class="app-title"><i class="fab "></i>Workout Tracker</h1>
      </header>

    <main>
      {{{ body }}}
    </main>
  </div>

    {{#if loggedIn}}
    <script src="javascript/logout.js"></script>
    {{/if}}

</body>

</html>