{{#if posts.length}}
<section>
  <h3>Your Workouts</h3>
  <button><a class="btn" href="/add-workout">Log New Workout</a></button>

  {{#each posts as |post|}}
  <div class="card">
    <div class="card-body">
      <p>Workout: {{post.friendlyTimestamp}}
        <ul>
          {{#each entries as |entry|}}
          <li>
            {{entry.exercise.exercise_name}}: 
            {{entry.string}}
          </li>
          {{/each}}
        </ul>
      </p> 
    </div>
  </div>
  {{/each}}
  
</section>
{{/if}}



