{{#if posts.length}}
<section>
  <h2>Your Workouts</h2>
    {{#each posts as |post|}}
    <p>Workout: {{post.createdAt}}
      <ul>
        {{#each entries as |entry|}}
        <li>
          {{entry.exercise.exercise_name}}: 
          {{entry.string}}
        </li>
        {{/each}}
      </ul>

    </p>
    {{/each}}

</section>
{{/if}}

<button type="submit" class="btn"><a class="link" href="/add-workout">Log New Workout</a></button>