{{#if posts.length}}
<section class="container">
  <h2>My Workouts</h2>
  <button class="btn-group"><a class="nav-item" href="/add-workout">Log New Workout</a></button>

  {{#each posts as |post|}}
  <div class="card">
    <div class="card-body">
      <p>Workout: {{post.friendlyTimestamp}}
        <ul>
          {{#each entries as |entry|}}
          <li>
            {{entry.exercise.exercise_name}}: 
            {{entry.string}}
          </li>
          {{/each}}
        </ul>
      </p> 
    </div>
  </div>
  {{/each}}
  
</section>
{{/if}}



