{{#if posts.length}}
<section>
  <h2 class="text-center">Your Workouts</h2>

  <a href="/add-workout"><button type="button" class="btn btn-dark">Log New Workout</button></a>
  
    {{#each posts as |post|}}

<div class="card bg-light" style="width: 35rem;">
  {{!-- <div class="card-body"> --}}
    <p class="card-header">Workout: {{post.createdAt}}</p>
      <ul class="list-group list-group-center">
        {{#each entries as |entry|}}
        <li class="list-group-item">
          {{entry.exercise.exercise_name}}: 
          {{entry.string}}
        </li>
        {{/each}}
      </ul>
    {{/each}}
  {{!-- </div>  --}}
</div>

</section>
{{/if}}


