<section>
  <h2 class="text-center">Community Workouts</h2>
  <div class="card" style="width: 40rem;">
    <article class="post">
        {{#each posts as |post| }}
            <p class="card-header">{{post.user.username}} worked out on {{post.createdAt}}</p>
      <ul class="list-group list-group-flush">
        {{#each entries as |entry|}}
        <li class="list-group-item">
          {{entry.exercise.exercise_name}}: {{entry.string}}
        </li>
        {{/each}}
      </ul>
        {{/each}}
  </div>          
    </article>
</section>