<section>
  <h2>Community Workouts</h2>
  <div class="card">
    <article class="card-body">
    
    {{#each posts as |post| }}
    <p class="card-header">{{post.user.username}} worked out on {{post.friendlyTimestamp}}
      <ul>
      
        {{#each entries as |entry|}}
        <li>
          {{entry.exercise.exercise_name}}: {{entry.string}}
        </li>
        {{/each}}
        
      </ul>
    </p>
    {{/each}}
    
  </div>    
  </article>
</section>
