<div class="container">
  <h4 class="card-header">Welcome Back!</h3>
  <form id="login-form" class="card-body">
    <ul class="flex-outer">
      <li>
        <label class="form-label" for="email-login">Email</label>
        <input id="email-login" type="text" autofocus="true" class="form-input" />
      </li>
      <li>
        <label class="form-label" for="password-login">Password</label>
        <input id="password-login" type="password" autofocus="true" class="form-input" />
      </li>
      <li>
        <button type="submit" class="btn-group">Login</button>
        <button class="btn-group"><a class="nav-item" href="/signup">Signup</a></button>
      </li>
    </ul> 
  </form>
</div>
    
<script src="javascript/login.js"></script>