<div class="card" style="width: 60rem;">
  <h3 class="card-header text-center">Login</h3>
  <form id="login-form" class="card-body">

    <label class="form-label" for="email-login"><strong>Email</strong></label>
    <input id="email-login" type="text" autofocus="true" class="form-input" />

    <label class="form-label" for="password-login"><strong>Password</strong></label>
    <input id="password-login" type="password" autofocus="true" class="form-input" />

    <button type="submit" class="btn btn-dark">Login</button>
    <a href="/signup"><button type="button" class="btn btn-dark">Signup</button></a>
    
  </form>
</div>
    
<script src="javascript/login.js"></script>