<div class="container">
  <h3 class="card-header">Welcome!</h3>
  <form id="signup-form" class="card-body">
    <ul class="flex-outer">
      <li>
        <label for="username-signup" class="form-label">Username</label>
        <input id="username-signup" type="text" class="form-input" />
      </li>
      <li>
        <label class="form-label" for="email-signup">Email</label>
        <input id="email-signup" type="text" class="form-input" />
      </li>
      <li>
        <label class="form-label" for="password-signup">Password</label>
        <input  id="password-signup" type="password" class="form-input" />
      </li>
      <li>
        <button class="btn-group" type="submit">Signup</button>
        <button class="btn-group"><a class="nav-item" href="/login">Login</a></button>
      </li>
    </ul>
  </form>
</div>

<script src="javascript/signup.js" type="text/javascript"></script>
