* {
  font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
}

/* a {
  font-weight: bold;
  transition: inherit;
  background-color: rgb(248, 245, 245); 
  margin: 5px;
  padding: 3px;
  border-radius: 5px;
  border: 2px solid rgb(10, 9, 10);
}  */

article {
  padding: 1px;
  margin: 5px;
  border-radius: 5px;
  border: 2px solid rgb(10, 9, 10);
  background-color: rgb(247, 247, 245);
}  
.nav-item {
text-decoration: none;
text-align: center;
font-size: medium;
color: black;
padding: 1px;
}

.btn-group {
  padding: 3px;
}

/* .form-input {
  border: 3px solid black;
} */

/* button {
  border: 2px solid black;
  background-color: rgb(159, 172, 179);
  border-radius: 5px;
} */

/* label {
  border: 2px solid black;
  background-color: rgb(223, 229, 223);
  margin: 2px;
  padding: 2px;
} */

div {
  margin: 5px; 
  padding: 10px;
  border: 3px solid black;
  border-color: black; 
  background-color: rgb(211, 214, 215);
} 
.card-header {
  font: normal 25px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
  text-align: center;
}

header h1 {
  font-size: 2em;
  color: black;
  text-align: left;
  padding: 0 0 0 25px;
} 


/* New CSS */
body {
  font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
  background: #3AAFAB;
  color: #fff;
  padding: 50px 0;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.container * {
  box-sizing: border-box;
}

.flex-outer,
.flex-inner {
  list-style-type: none;
  padding: 0;
}

.flex-outer {
  max-width: 800px;
  margin: 0 auto;
}

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-inner {
  padding: 0 8px;
  justify-content: space-between;
}

.flex-outer>li:not(:last-child) {
  margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p {
  padding: 8px;
  font-weight: 300;
  letter-spacing: .09em;
  text-transform: uppercase;
}

.flex-outer>li>label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-outer>li>label+*,
.flex-inner {
  flex: 1 0 220px;
}

.flex-outer li p {
  margin: 0;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
  padding: 15px;
  border: none;
}

.flex-outer li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}

.flex-inner li {
  width: 100px;
}