a {
  font-weight: bold;
  transition: inherit;
  background-color: #2ba9df; 
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid rgb(10, 9, 10);
} 

article {
  padding: 1px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid rgb(10, 9, 10);
}  

.form-input {
  border: 3px solid black;
}

button {
  border: 2px solid black;
  background-color: rgb(80, 173, 219);
  border-radius: 5px;
}

label {
  border: 2px solid black;
  background-color: rgb(152, 175, 152);
  margin: 2px;
  padding: 2px;
}

div {
  margin: 5px; 
  padding: 5px;
  border: 3px solid rgb(28, 6, 153);
  border-color: rgb(51, 58, 149); 
  background-color: rgb(118, 148, 166);
} 

header h1 {
  font-size: 2em;
  color: black;
  text-align: center;
  padding: 30px;
} 

.post {
  margin-bottom: 20%;
  line-height: 250%;
  border: 3px solid rgb(28, 6, 153);
  background-color: rgb(66, 162, 204);
  margin-bottom: 2%;
  line-height: 150%;
}
