* {
  box-sizing: border-box;
  border-color: rgb(9, 9, 9);
}

body, html {
  height: 50%;
  padding: 50px;
  margin: 10px;
  font-family: sans-serif;
  background-color: rgb(48, 117, 144);
}

a {
  text-decoration: none;
  color: #1d196a;
  font-weight: bold;
  transition: color .1s;
  margin: 1px;
  padding: 1px;
 }

a:hover {
  color: rgb(20, 199, 20);
}

.btn {
  background-color: #165ea6;
  border: 10;
  padding: 2%;
  color: rgb(86, 40, 40);
  font-weight: bold;
  font-size: large;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  background-color: rgb(40, 80, 40);
  font-weight: 100;
}

.b {
  margin: 0px;
  padding: 0px;
  color: rgb(71, 106, 187);
}

nav {
  margin: 1px;
  padding: 2px;
  background-color: rgb(15, 120, 163);
}

article {
  padding: 5%;
  border-radius: 2px;
  border: 1px solid rgb(10, 9, 10);
}

.form-input {
  margin-bottom: 120%;
  display: block;
  border: 1px solid rgb(146, 30, 30);
}

div {
  display:block;
  padding: 10px;
  border: 3px solid rgb(178, 15, 39);
  border-color: rgb(26, 6, 6);
  background-color: rgb(88, 128, 158);
}

.wrapper {
  width: 80%;
  min-height: 100%;
  max-width: 800px;
  margin: 1% auto;
  display: flex;
  flex-direction: column;
}

header h1 {
  font-size: 2em;
  color: rgb(19, 16, 16);
}

h2 {
  padding: 1%;
  margin-bottom: 1%;
}

h3 {
  padding: 1%;
  margin-bottom: 1%;
}

main {
  flex: 5;
  padding: 1% 5%;
  color: black;
}

.post {
  margin-bottom: 20%;
  line-height: 250%;
  background-color: rgb(24, 69, 90);
}

form {
  margin-bottom: 5%;
}

label {
  padding: 1%;
  margin-bottom: 1%;
}

.hero {
  padding: 5%;
  margin-bottom: 1%;
}